<div class="col-md-4">
    <div class="card" style="margin-top:10px">
        <div class="card-body" style="background-color:lightskyblue">
        <h5 class="card-title">Intern Name</h5>
        <p class="card-text">
            <i class="fa-solid fa-user-graduate"></i>
                Intern
            </p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: </li>
        <li class="list-group-item">Email:</li>
        <li class="list-group-item">School:</li>
        </ul>
    </div>
</div>