<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Roster</title>
    <link rel="shortcut icon" type="image/jpg" href="/Develop/assets/address-book-solid.svg"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b0ad24a2f6.js" crossorigin="anonymous"></script>
    <style>
        nav {background-color:blue};
    </style>
</head>

<body>
    <nav>
        <h1 style ="color:white; text-align:center; padding: 20px;">My team</h1>
    </nav>

    <div class="container">
        <div class="row d-flex flex-wrap justify-content-center">
            <div class="col-md-4">
                <div class="card" style="margin-top:10px;">
                    <div class="card-body" style="background-color:lightskyblue">
                    <h5 class="card-title">Manager Name</h5>
                        <p class="card-text">
                            <i class="fa-solid fa-user-tie"></i>
                            Manager
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: </li>
                    <li class="list-group-item">Email:<a href = "mailto: ${managerEmail}"> fake@email.com</a></li>
                    <li class="list-group-item">Office Number:</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="margin-top:10px">
                    <div class="card-body" style="background-color:lightskyblue">
                    <h5 class="card-title">Engineer Name</h5>
                        <p class="card-text">
                            <i class="fa-solid fa-user-gear"></i>
                            Engineer
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: </li>
                    <li class="list-group-item">Email:</li>
                    <li class="list-group-item">Github:<a href="https://www.github.com/${engineerGithub}" target="_blank"> Github username</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="margin-top:10px">
                    <div class="card-body" style="background-color:lightskyblue">
                    <h5 class="card-title">Intern Name</h5>
                    <p class="card-text">
                        <i class="fa-solid fa-user-graduate"></i>
                            Intern
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: </li>
                    <li class="list-group-item">Email:</li>
                    <li class="list-group-item">School:</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="margin-top:10px">
                    <div class="card-body" style="background-color:lightskyblue">
                    <h5 class="card-title">Intern Name</h5>
                    <p class="card-text">
                        <i class="fa-solid fa-user-graduate"></i>
                            Intern
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: </li>
                    <li class="list-group-item">Email:</li>
                    <li class="list-group-item">School:</li>
                    </ul>
                </div>
            </div>
                           
            <div class="col-md-4">
                <div class="card" style="margin-top:10px">
                    <div class="card-body" style="background-color:lightskyblue">
                    <h5 class="card-title">Intern Name</h5>
                    <p class="card-text">
                        <i class="fa-solid fa-user-graduate"></i>
                            Intern
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: </li>
                    <li class="list-group-item">Email:</li>
                    <li class="list-group-item">School:</li>
                    </ul>
                </div>
            </div>



        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>